.logo{
    width: 60px;
    height: 60px;
}
.title{
    text-align: center; 
    position:relative; 
    bottom: 60px;
    color: blueviolet;
}
.header{
    background-color: beige;
    margin: 0;
    height: 70px;
}
.footer{
    background-color: beige;
    margin: 0;
    height: 70px;
}
.description{
    display: block;
    color: blueviolet;
    text-align: center;
    position: relative;
    top: 10px;
    font-weight: bold;
}
