@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&family=Roboto:wght@400;500&display=swap');
body{
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.name{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0;
    color: black;
    letter-spacing: 2px;
    text-decoration: underline;
}
.block{
    width: 500px;
    margin: 2px auto;
    display: flex;
    background-color:white;
    margin-left: auto;
    padding: 10px 15px;
    border-left: 6px solid gray;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
   
}
.description{
    font-size: 16px;
    margin: 0 0;
    color: black;
    width: 150px;
}
.button{
    display:flex;
    margin: auto auto;
    gap: 5px;
}
.del, .red{
    color: black;
    display: block;
    height: 15px;
    margin-left: auto;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    justify-content: center;
}
.form{
    border:0 none;
}
form{
    width: 500px;
    margin: 20px auto;
    display: flex;
    background-color:white;
    margin-left: auto;
    padding: 10px 15px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3); 
}
legend{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto;
}
.form-block{
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.sub{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: white;
    display: inline-block;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 1px solid;
    border-radius: 20px;
    transition: 0.2s;
      } 
.sub:hover{background-color: gray;}
.sub:focus { background-color: white; }

.message{
    margin: 0 auto;
    text-align: center;
    font-weight: lighter;
}
label{
    letter-spacing: 2px;
}
.form{
    position: relative;
    left: 50px;
}
input::placeholder{
    letter-spacing: 2px;
    font-size: smaller;
}